body {
    color: #333; /* Dark grey text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/blue.png'); /* Grey to white to grey gradient */
}

header {
    /*background-color: #080808; /* Darker grey background color */
    color: #fff; /* White text color */
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header-container {
    background-color: rgba(23, 23, 23, 0.492); /* Čierna farba s 50% priehľadnosťou */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: top 0.3s ease-in-out;
}
.header-container.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}

.logo {
    display: flex; /* Použitie flexboxu na umiestnenie elementov vedľa seba */
    align-items: center; /* Vertikálne zarovnanie elementov na stred */
}

.logo img {
    margin-right: 10px; /* Priestor medzi obrázkom a textom */
}

.logo h2 {
    margin: 0; /* Odstránenie predvoleného okraja h2 */
}

.logo img {
    width: 40px;
    padding-left: 10px;
}

nav ul {
    list-style: none;
    padding: 15px;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 10px; /* Reduced margin for closer spacing */
    padding: 10px;
    /*border-radius: 50%; /* Make the li round */
    overflow: hidden; /* Ensure content doesn't overflow the rounded shape */
}

nav li:hover {
    transform: scale(1.2); /* Scale up on hover */
    /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* White shadow on hover */
}

li {
    font-weight: bold; /* Tučné písmo */
    color: white;
}

nav a {
    color: #fff;
    text-decoration: none;
}

p {
    font-weight: bold; /* Tučné písmo */
} 

.services h2{
    font-size: 42px;
    text-align: center;
}

.questions h2{
    font-size: 42px;
    text-align: center;
}

.social-icons img {
    width: 50px; /* Increase the width for larger icons */
    height: auto; /* Maintain aspect ratio */
}
.social-icons img:hover {
    transform: scale(1.1);
}

.hero {
    background-image: url('img/pozadie.jfif'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    padding: 150px 20px;
    text-align: center;
    color: #fff;
    position: relative; /* Ensure the hero section remains in place */
    z-index: 1; /* Ensure the hero section is above the header */
}



.hero h1 {
    margin-right: 40%;
    font-size: 3em; /* Example: Increase font size for emphasis */
}

.hero p {
    font-size: 1.01em; /* Example: Increase font size for readability */
    max-width: 600px; /* Maximálna šírka pre element <p> */
    padding-left: 16%;
}

.services {
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 10px; /* Adjusted margin bottom */
    color: white;
    text-align: center;
}

.services p {
    max-width: 900px; /* Maximálna šírka pre element <p> */
    margin: 0 auto; /* Zarovnanie do stredu */
}

.service-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 70%;
    gap: 100px; /* Vytvorí medzeru medzi obrázkom a textom */
}


.service-info:nth-child(even) {
    flex-direction: row-reverse;
}

.service-info img {
    width: 25%; /* Obrazok vzdy zabera 50% sirky */
    height: auto;
}

.service-info div {
    width: 50%; /* Text vzdy zabera 50% sirky */
    padding: 10px;
}

.service-info h3 {
    margin: 0;
    font-size: 1.5em;
}

.service-info p {
    margin: 10px 0 0;
}

.button-container {
    display: flex;
    justify-content: center; /* Centrovanie horizontálne */
    align-items: center; /* Centrovanie vertikálne */
}

.requestbutton {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 120px;
    align-items: center;
    margin: 0 10px;
    border: 3px solid #fff; /* Biele ohraničenie */
    padding: 10px; /* Zvýšené oplátky */
    text-align: center; /* Zarovnanie textu na stred */
    border-radius: 5px; /* Zaoblené rohy */
    transition: all 0.3s ease; /* Hladký prechod */
    font-weight: bold; /* Tučné písmo */
    font-size: 1.3em;
    background: transparent;
    color: white;
}

.requestbutton:hover {
    transform: scale(1.05); /* Efekt zväčšenia pri prechode myšou */
    box-shadow: 0 0 20px white; /* Sivý a dlhší tieňový efekt pri prechode myšou */
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    text-align: center;
    margin-top: -10px; /* Adjusted margin top to align with services section */
    color: white;
}

.stats div {
    flex: 1;
    padding: 20px;
    max-width: 120px;
    box-sizing: border-box;
}

.stats h3 {
    margin: 0 auto; /* Zarovnanie do stredu */
    font-size: 1.5em;
}

.stats p {
    margin: 0;
    font-size: 1.2em;
    color: white;
    animation: countUp 2s ease-out forwards;
    font-size: 1.5em;
}

.stats img {
    width: 60px; /* Adjusted image size */
    height: auto;
}


.contact-us {
    background-image: url('img/security.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid; /* Použitie Grid Layout na usporiadanie stĺpcov */
    grid-template-columns: 0.5fr 1.5fr 1fr; /* Tri stĺpce s rôznymi šírkami */
    gap: 20px; /* Medzera medzi stĺpcami */
    padding: 50px 20px;
    box-sizing: border-box; /* Zabezpečuje, že padding je zahrnutý v celkovej šírke kontajnera */
    color: white;
}

.contact-us h2 {
    margin-top: 0; /* Odstránenie predvoleného okraja nadpisu */
    margin-bottom: 10px; /* Priestor pod nadpisom */
    font-size: 40px;
}

.contact-logo {
    display: flex; /* Umožňuje obrázku byť flexibilne umiestnený */
    align-items: center; /* Vertikálne zarovná obrázok na stred */
    justify-content: center; /* Horizontálne zarovná obrázok na stred */
}

.contact-logo img {
    width: 100%; /* Umožňuje obrázku prispôsobiť sa šírke stĺpca */
    max-width: 150px; /* Nastavte maximálnu šírku obrázku */
    height: auto; /* Udrží proporcie obrázku */
}

.contact-logo-content {
    max-width: 100%; /* Umožňuje textovému bloku prispôsobiť sa šírke stĺpca */
    padding-right: 40%;
}

.contact-logo-content h2 {
    margin-top: 0; /* Odstránenie predvoleného okraja nadpisu */
    margin-bottom: 10px; /* Priestor pod nadpisom */
}

.contact-logo-content p {
    margin: 0; /* Odstránenie predvoleného okraja odstavca */
}

.contact-info {
    max-width: 100%; /* Umožňuje bloku s kontaktnými informáciami prispôsobiť sa šírke stĺpca */
}

.contact-info h3 {
    font-size: 30px;
    margin: 5px 0; /* Priestor nad a pod podnadpisom */
}

.contact-info p {
    margin: 5px 0; /* Priestor nad a pod odstavcom */
    font-size: 1.2em;
}

/* Zmazat? */
.contact-form {
    flex: 1;
    text-align: left;
    color: white;
    margin-top: 20px;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 2em;
}

.contact-form form {
    max-width: 400px;
}

.form-group {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none; 
    
}

/* Success message */
.success-message {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(1, 255, 43);
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Popup backdrop */
.popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

/* Popup form container */
.popup-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1a1a1a; /* Pridajte nepriehľadnú farbu pozadia */
    background-image: url('img/miniBlue.png');
    background-position: center; /* Vycentruje obrázok na pozadí */
    background-size: cover; /* Zabezpečí, že obrázok pokrýva celý kontajner */
    background-repeat: no-repeat; /* Zabezpečí, že obrázok sa nezopakuje */
    border-radius: 8px;
    z-index: 1001;
    max-height: 90%;
    min-width: 30%;
    max-width: 60%;
    animation: fadeIn 0.3s ease-in-out;
    color: white;
    border: 2px solid white;
    overflow-y: auto; /* Povolenie vertikálneho rolovania, ak je obsah väčší ako max-height */
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 15px;
}

/* Popup form */
.popup-form {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.popup-form img{
    width: 400px; /* Ensure the image fits within the box */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Space below the image */
}

/* Popup form heading */
.popup-form h2 {
    color: white;
    font-size: 1.75rem;
    font-weight: bold;
}

/* Form group */
.popup-form .form-group {
    margin-bottom: 10px;
    text-align: left;
}

/* Form group label */
.popup-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
    font-size: 1rem;
}

/* Form input and textarea */
.popup-form input[type="text"],
.popup-form input[type="email"],
.popup-form textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s;
    resize: none; 
}

.popup-form input[type="text"]:focus,
.popup-form input[type="email"]:focus,
.popup-form textarea:focus {
    border-color: black;
    outline: none;
}

/* Textarea */
.popup-form textarea {
    resize: none; 
}

/* Submit button */
.popup-form button[type="submit"] {
    background-color: transparent;
    font-weight: bold;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    width: 60%;
    border:2px solid white;
    transition: all 0.3s ease; /* Hladký prechod */
}

.popup-form button[type="submit"]:hover {
    box-shadow: 0 0 20px white; /* Sivý a dlhší tieňový efekt pri prechode myšou */
    transform: scale(1.05); /* Efekt zväčšenia pri prechode myšou */
}

/* Cancel button */
.cancel-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.cancel-button:hover {
    transform: translateY(-2px)
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -45%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}



.copyright {
    background-color: #000; /* Čierne pozadie */
    color: #fff; /* Biely text */
    padding: 1px; /* Odsadenie */
    text-align: center; /* Zarovnanie textu na stred */
    width: 100%; /* Plná šírka */
    box-sizing: border-box; /* Zahrnutie paddingu v celkovej šírke */
}

.questions {
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
}

.question {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease; /* Hladký prechod farby pozadia */
}

.question:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Tmavšie pozadie pri hover */
}

.question span {
    font-weight: bold; /* Tučný text */
    font-size: 18px;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, background-color 0.3s ease; /* Hladký prechod pre max-height a farbu pozadia */
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.15); /* Počiatočná farba pozadia */
    font-size: 18px;
}

.answer:hover {
    background-color: rgba(0, 0, 0, 0.25); /* Tmavšie pozadie pri hover */
}

.question:hover .answer {
    max-height: 200px; /* Adjust to reveal answer height */
    padding: 20px; /* Adjust padding for revealed answer */
}


.toggle-icon {
    transition: transform 0.5s ease;
}
.toggle-icon.open {
    transform: rotate(180deg);
}

.clients h2{
    color: white;
    font-size: 42px;
    text-align: center;
}

.clients p {
    text-align: center;
    color: white;
}

.customer-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Medzera medzi štvorcami */
    max-width: 1000px; /* Obsah zaberá maximálne 60% šírky obrazovky */
    margin: auto; /* Vycentruje kontajner */
    justify-content: center; /* Center-align items */
}

.customer-box {
    width: 120px; /* Nastavená šírka boxu */
    height: 150px; /* Nastavená výška boxu */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.customer-box img {
    width: 100px; /* Fixná šírka pre obrázky */
    height: 80px; /* Fixná výška pre obrázky */
    object-fit: contain; /* Obrázok sa prispôsobí boxu bez orezania alebo deformácie */
    display: block;
    padding: 5px; /* Priestor okolo obrázka, ak je malý */
}

.customer-box p {
    margin: 0;
    font-size: 16px;
    flex-shrink: 0;
}

.clients p {
    font-size: 24px; /* Môžeš upraviť podľa potreby */
}

.customer-box p {
    margin: 10px 0 0 0;
    font-size: 16px; /* Môžeš upraviť podľa potreby */
}
#map {
    max-width: 1200px;
    width: 100%;
    height: 400px; /* Adjust map height */
    margin-top: 20px; /* Add margin on top */
    margin: 20px auto;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

#map:hover{box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);}

div.leaflet-control-attribution.leaflet-control {
    display: none !important;
}

.about{     
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
}

.about h1{
    text-align: center;
    font-size: 52px;
}

.certificates {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.certificate {
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
}

.certificate img {
    max-width: 100%;
}

.certificate h3 {
    color: white;
    margin: 15px 0 10px;
}

.certificate p {
    color: #ccc;
    margin: 5px 0;
}


.image-container {
    position: relative;
    width: 300px; /* Nastavte šírku obrázka podľa potreby */
}

.image-container img {
    width: 100%;
    cursor: pointer;
}

.image-container img:hover {
    width: 100%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.overlay {
    display: none; /* Skryté pred kliknutím */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden; /* Skrytie pretečeného obsahu */
    opacity: 0; /* Skrytý overlay s nulovou opacitou */
    transition: opacity 0.5s ease; /* Prechodová animácia pre overlay */
}

.overlay.show {
    display: flex; /* Zobrazenie overlay */
    opacity: 1; /* Opacita 1 po zobrazení */
}

.overlay img {
    transform: scale(1); /* Zväčšenie na 20-krát */
    transition: transform 0.5s ease; /* Jemný prechod pri zväčšení */
    max-width: none; /* Odstránenie maximálnych šírok pre zväčšenie */
    max-height: 90%; /* Odstránenie maximálnych výšok pre zväčšenie */
}

@media (max-width: 600px) {
    p{color: black;}
}

.career {
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
}

.career h1 {
    text-align: center;
    font-size: 52px;
}

.career h2 {
    text-align: center;
    font-size: 42px;
}

.career h3 {
    text-align: center;
    font-size: 28px;
}

.job-boxes {
    display: flex;
    justify-content: space-between; /* Ensures there's space between the two halves */
    padding: 20px; /* Padding from the edges of the screen */
    gap: 60px; /* Space between the two boxes */
    max-width: 1200px; /* Optional: Limit max width for better aesthetics on large screens */
    margin: 0 auto; /* Center the content horizontally */
}

.job-box {
    flex: 1; /* Makes each box take up equal width */
    padding: 20px; /* Padding inside each job box */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds subtle shadow for separation */
    border: 2px solid #fff; /* Biele ohraničenie */
    border-radius: 5px; /* Zaoblené rohy */
    transition: all 0.3s ease; /* Hladký prechod */
    cursor: pointer;
}

.job-box:hover {
    box-shadow: 0 0 20px white; /* Široký a dlhý tieňový efekt pri prechode myšou */
}

.job-box img {
    max-width: 100%; /* Zabezpečuje, že obrázok sa zmestí do boxu */
    height: auto; /* Udržuje pomer strán */
    margin-bottom: 20px; /* Medzera pod obrázkom */
}

.apply-button {
    display: none; /* Skryté predpokladajúc, že na desktop je neviditeľné */
    margin-top: 20px; /* Priestor nad tlačidlom */
    padding: 10px 20px; /* Padding okolo textu */
    background-color: transparent;
    color: white; /* Biela farba textu */
    border: none; /* Bez orámovania */
    border-radius: 5px; /* Zaoblené rohy */
    cursor: pointer; /* Zmena kurzora na rukavicu */
    font-weight: bold; /* Tučné písmo */
    border: 2px solid #fff; /* Biele ohraničenie */
    margin-left: 35%;
}


/* Štýly pre hamburger menu */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.hamburger-menu span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

/* Skrytie navigácie a zobrazenie hamburger menu na menších obrazovkách */
@media (max-width: 768px) {
    body {
        color: #333; /* Dark grey text color */
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url('img/phoneBlue.png'); /* Grey to white to grey gradient */
    }

    .header-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger-menu {
        display: flex;
    }

    nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        text-align: center;
        z-index: 1001;
        /* Skrytie navigácie za obrazovkou */
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    nav.active {
        display: block;
        transform: translateX(0);
    }

    nav ul {
        display: block;
        padding: 0;
        margin: 0;
    }

    nav li {
        margin: 10px 0;
    }

    p {
        font-weight: bold; /* Tučné písmo */
        color: white;
    }

    .service-buttons {
        display: flex;
        flex-direction: column; /* Umiestnenie tlačidiel do stĺpca */
        align-items: center; /* Zarovná tlačidlá do stredu */
        gap: 20px; /* Rozostupy medzi tlačidlami */
    }

    .service-button {
        width: 160px; /* Pôvodná šírka */
        height: 160px; /* Pôvodná výška */
        padding: 30px; /* Pôvodné oplátky */
        margin: 10px 0; /* Vertikálne medzery medzi tlačidlami */
    }

    .stats {
        flex-direction: column; /* Umiestnenie prvkov do stĺpca */
        align-items: center; /* Zarovnanie do stredu */
        padding: 20px; /* Zabezpečenie, že obsah má primeraný padding */
    }

    .stats div {
        max-width: 100%; /* Umožnenie plnej šírky pre bloky */
        padding: 10px; /* Zmenšenie paddingu pre mobilné zariadenia */
    }

    .stats img {
        width: 80px; /* Menšia veľkosť obrázkov pre mobilné zariadenia */
    }

    .stats h3 {
        font-size: 30px; /* Menšia veľkosť textu pre mobilné zariadenia */
    }

    .stats p {
        font-size: 30px; /* Menšia veľkosť textu pre mobilné zariadenia */
    }

    .questions {
        padding: 10px;
        color: white;
    }

    .question:hover {
        background-color: rgba(0, 0, 0, 0.2); /* Tmavšie pozadie pri hover */
    }

    #map {
        max-width: 1200px;
        width: 100%;
        height: 300px; /* Adjust map height */
        margin-top: 20px; /* Add margin on top */
        margin: 20px auto;
        border-radius: 15px; /* Rounded corners */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
    }

    .contact-us {
        background-image: url('img/security.png'); /* Nahradiť cestu k obrázku podľa potreby */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex; /* Použiť Flexbox na usporiadanie obsahu */
        flex-direction: column; /* Umiestnenie detí vertikálne */
        align-items: center; /* Horizontálne zarovnanie všetkých detí na stred */
        padding: 50px 20px;
        box-sizing: border-box; /* Zabezpečuje, že padding je zahrnutý v celkovej šírke kontajnera */
        color: white;
    }

    /* Sekcia s logom */
    .contact-logo {
        display: flex; /* Flexbox na zarovnanie obrázku a textu */
        align-items: center; /* Vertikálne zarovnanie obrázku na stred */
        justify-content: center; /* Horizontálne zarovnanie obrázku na stred */
        width: 100%; /* Šírka na celú šírku rodiča */
    }

    .contact-logo img {
        width: 100%; /* Prispôsobenie šírky obrázku */
        max-width: 150px; /* Maximálna šírka obrázku */
        height: auto; /* Udrží proporcie obrázku */
    }

    .contact-logo-content {
        text-align: center; /* Zarovnanie textu na stred */
        padding: 20px; /* Padding okolo textového bloku */
        width: 100%; /* Šírka na celú šírku rodiča */
    }

    .contact-logo-content h2 {
        margin-top: 0; /* Odstránenie predvoleného okraja nadpisu */
        margin-bottom: 10px; /* Priestor pod nadpisom */
    }

    .contact-logo-content p {
        margin: 0; /* Odstránenie predvoleného okraja odstavca */
    }

    /* Sekcia s kontaktnými informáciami */
    .contact-info {
        width: 100%; /* Šírka na celú šírku rodiča */
        text-align: center; /* Zarovnanie textu na stred */
        padding: 20px; /* Padding okolo textového bloku */
    }

    .contact-info h3 {
        font-size: 25px;
        margin: 5px 0; /* Priestor nad a pod podnadpisom */
    }

    .contact-info p {
        margin: 5px 0; /* Priestor nad a pod odstavcom */
        font-size: 1.2em;
    }

    .popup-form-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1a1a1a; /* Pridajte nepriehľadnú farbu pozadia */
        background-image: url('img/miniBlue.png');
        background-position: center; /* Vycentruje obrázok na pozadí */
        background-size: cover; /* Zabezpečí, že obrázok pokrýva celý kontajner */
        background-repeat: no-repeat; /* Zabezpečí, že obrázok sa nezopakuje */
        border-radius: 8px;
        z-index: 1001;
        max-height: 90%;
        width: 100%;
        animation: fadeIn 0.3s ease-in-out;
        color: white;
        border: 2px solid white;
        overflow-y: auto; /* Povolenie vertikálneho rolovania, ak je obsah väčší ako max-height */
        padding-left: 30px;
        padding-right: 40px;
        padding-bottom: 15px;
    }

    .popup-form img{
        width: 100%;
        height: auto; /* Maintain aspect ratio */
        margin-bottom: 10px; /* Space below the image */
    }

    .form-group input, #email, #name,
    .form-group textarea {
        width: 93%;
        padding: 10px;
        font-size: 1em;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: none; 
    }

    .about{     
        padding: 10px;
        text-align: center;
        color: white;

    }

    .about h1{
        font-size: 42px;
    }
    

    .overlay img {
        transform: scale(0.7); /* Zväčšenie na 20-krát */
        transition: transform 0.5s ease; /* Jemný prechod pri zväčšení */
        max-width: none; /* Odstránenie maximálnych šírok pre zväčšenie */
        max-height: 90%; /* Odstránenie maximálnych výšok pre zväčšenie */
    }

    .career{
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        color: white;
    }

    .career h2{
        font-size: 30px;
    }

    .job-boxes {
        display: flex;
        flex-direction: column; /* Zoradenie boxov vertikálne */
        align-items: center; /* Horizontálne centrovanie boxov */
        justify-content: center; /* Vertikálne centrovanie boxov */
        gap: 20px; /* Zmenšenie medzery medzi boxmi */
        padding: 20px; /* Padding od okrajov obrazovky */
    }

    .job-box {
        width: 90%; /* Zabezpečí, že boxy zaberajú celú šírku rodiča */
        max-width: none; /* Zruší maximálnu šírku pre mobilné zariadenia */
        margin: 0; /* Odstráni horizontálne marginy */
    }

    .job-box .apply-button {
        display: block; /* Zobrazí tlačidlo Žiadosť na mobilných zariadeniach */
    }

    .services h2{
        font-size: 30px;
        text-align: center;
    }


    .clients h2{
        color: white;
        font-size: 30px;
        text-align: center;
    }

    .clients p {
        font-size: 16px; /* Môžeš upraviť podľa potreby */
    }
    

}

/* Animácia hamburger menu */
.hamburger-menu.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}
