body {
    color: #333; /* Dark grey text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/blue.png'); /* Grey to white to grey gradient */
}

header {
    /*background-color: #080808; /* Darker grey background color */
    color: #fff; /* White text color */
    /*padding: 20px;*/
    text-align: center;
    position: relative;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 200px;
}

nav ul {
    list-style: none;
    padding: 15px;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 10px; /* Reduced margin for closer spacing */
    padding: 10px;
    /*border-radius: 50%; /* Make the li round */
    overflow: hidden; /* Ensure content doesn't overflow the rounded shape */
}

nav li:hover {
    transform: scale(1.2); /* Scale up on hover */
    /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* White shadow on hover */
}


nav a {
    color: #fff;
    text-decoration: none;
}

p {
    font-weight: bold; /* Tučné písmo */
} 

.social-icons img {
    width: 50px; /* Increase the width for larger icons */
    height: auto; /* Maintain aspect ratio */
}
.social-icons img:hover {
    transform: scale(1.1);
}

.hero {
    background-image: url('img/police.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    padding: 150px 20px;
    text-align: center;
    color: #fff;
}

.hero #requestButton {
    background-color: transparent;
    border: 2px solid white; /* White border */
    border-radius: 50px; /* Half of the button height to create an oval shape */
    padding: 10px 20px;
    color: white; /* White text color */
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition */
    margin-right: 55%;
}

.hero button#requestButton:hover {
    background-color: white; /* Blue background on hover */
    color: black; /* White text color on hover */
}

.hero h1 {
    margin-right: 40%;
    font-size: 3em; /* Example: Increase font size for emphasis */
}

.hero p {
    font-size: 1.2em; /* Example: Increase font size for readability */
    max-width: 300px; /* Maximálna šírka pre element <p> */
    padding-left: 16%;
}

.services {
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 10px; /* Adjusted margin bottom */
    color: white;
}

.services p {
    max-width: 900px; /* Maximálna šírka pre element <p> */
    margin: 0 auto; /* Zarovnanie do stredu */
}

.service-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.service-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    border: 2px solid #fff; /* Biele ohraničenie */
    padding: 30px; /* Zvýšené oplátky */
    width: 160px; /* Zvýšená šírka */
    height: 160px; /* Zvýšená výška */
    text-align: center; /* Zarovnanie textu na stred */
    border-radius: 5px; /* Zaoblené rohy */
    transition: all 0.3s ease; /* Hladký prechod */
    font-weight: bold; /* Tučné písmo */
}

.service-button:hover {
    transform: scale(1.05); /* Efekt zväčšenia pri prechode myšou */
    box-shadow: 0 0 20px white; /* Sivý a dlhší tieňový efekt pri prechode myšou */
}

.service-button img {
    width: 60px; /* Prispôsobte veľkosť ikony */
    filter: grayscale(100%); /* Obrázky budú čierne (bez farby) */
    transition: filter 0.3s; /* Prechodový efekt pre filter */
}

.service-button .button-text {
    margin-top: 10px; /* Adjust spacing between icon and text */
    color: white; /* Dark grey text color */
    font-size: 1.1em; /* Adjusted font size */
}

.service-button .button-subtext {
    margin-top: 5px; /* Adjusted spacing between text lines */
    font-size: 0.9em; /* Smaller font size for subtext */
    color: white; /* Light grey text color */
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    text-align: center;
    margin-top: -10px; /* Adjusted margin top to align with services section */
    color: white;
}

.stats div {
    flex: 1;
    padding: 20px;
    max-width: 120px;
    box-sizing: border-box;
}

.stats h3 {
    margin: 0 auto; /* Zarovnanie do stredu */
    font-size: 1.5em;
}

.stats p {
    margin: 0;
    font-size: 1.2em;
    color: white;
    animation: countUp 2s ease-out forwards;
    font-size: 1.5em;
}

.stats img {
    width: 60px; /* Adjusted image size */
    height: auto;
}


.contact-us {
    background-image: url('img/security.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px 20px;
    text-align: center;
}

.contact-info {
    flex: 1;
    text-align: left;
    color: white; /* Set text color to white */
}

.contact-info h2 {
    margin-bottom: 10px;
    font-size: 40px;
    padding-bottom: 30px;
}

.contact-info h3{
    font-size: 30px;
    padding-bottom: 20px;
}

.contact-info p {
    color: white; /* Adjust paragraph text color if needed */
    font-size: 1.2em;
}


.contact-form {
    flex: 1;
    text-align: left;
    color: white;
    margin-top: 20px;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 2em;
}

.contact-form form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
}


button[type="submit"] {
    background-color: transparent;
    border: transparent; /* Blue border */
    padding: 10px 20px;
    color: white; /* Blue text color */
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition */
}

button[type="submit"]:hover {
    background-color: black; /* Black background on hover */
    color: #fff; /* White text color on hover */
    border: 1px solid black; /* Add border on hover */
}

/* Success message */
.success-message {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(1, 255, 43);
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Popup backdrop */
.popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Popup form container */
.popup-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 40px;
    border: 1px solid #ccc;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1001;
    width: 90%;
    max-width: 500px;
    animation: fadeIn 0.3s ease-in-out;
}

/* Popup form */
.popup-form {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* Popup form heading */
.popup-form h2 {
    margin-bottom: 20px;
    font-size: 1.75rem;
    color: #333;
    font-weight: bold;
}

/* Form group */
.popup-form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

/* Form group label */
.popup-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
    font-size: 1rem;
}

/* Form input and textarea */
.popup-form input[type="text"],
.popup-form input[type="email"],
.popup-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.popup-form input[type="text"]:focus,
.popup-form input[type="email"]:focus,
.popup-form textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Textarea */
.popup-form textarea {
    resize: vertical;
}

/* Submit button */
.popup-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
}

.popup-form button[type="submit"]:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

/* Cancel button */
.cancel-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #888;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.cancel-button:hover {
    color: #333;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -45%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}



.copyright {
    background-color: #000; /* Čierne pozadie */
    color: #fff; /* Biely text */
    padding: 1px; /* Odsadenie */
    text-align: center; /* Zarovnanie textu na stred */
    width: 100%; /* Plná šírka */
    box-sizing: border-box; /* Zahrnutie paddingu v celkovej šírke */
}

.questions {
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
}

.questions h2 {
    text-align: center;
    font-size: 25px;
}

.question {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease; /* Hladký prechod farby pozadia */
}

.question:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Tmavšie pozadie pri hover */
}

.question span {
    font-weight: bold; /* Tučný text */
    font-size: 19px;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, background-color 0.3s ease; /* Hladký prechod pre max-height a farbu pozadia */
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.15); /* Počiatočná farba pozadia */
    font-size: 19px;
}

.answer:hover {
    background-color: rgba(0, 0, 0, 0.25); /* Tmavšie pozadie pri hover */
}

.question:hover .answer {
    max-height: 200px; /* Adjust to reveal answer height */
    padding: 20px; /* Adjust padding for revealed answer */
}


.toggle-icon {
    transition: transform 0.5s ease;
}
.toggle-icon.open {
    transform: rotate(180deg);
}


.clients p {
    text-align: center;
    color: white;
}

.customer-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Medzera medzi štvorcami */
    max-width: 1000px; /* Obsah zaberá maximálne 60% šírky obrazovky */
    margin: auto; /* Vycentruje kontajner */
    justify-content: center; /* Center-align items */
}

.customer-box {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added transition */
}

.customer-box:hover {
    transform: scale(1.05); /* Efekt zväčšenia pri prechode myšou */
    box-shadow: 0 0 20px white; /* Sivý a dlhší tieňový efekt pri prechode myšou */
}

.customer-box img {
    max-width: 100%;
    max-height: 33%; /* Obrázok zaberá 1/3 výšky */
}

.clients p {
    font-size: 24px; /* Môžeš upraviť podľa potreby */
}

.customer-box p {
    margin: 10px 0 0 0;
    font-size: 16px; /* Môžeš upraviť podľa potreby */
}
#map {
    max-width: 1200px;
    width: 100%;
    height: 400px; /* Adjust map height */
    margin-top: 20px; /* Add margin on top */
    margin: 20px auto;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

#map:hover{box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);}

div.leaflet-control-attribution.leaflet-control {
    display: none !important;
}